<h1> Musers </h1>
<% if @other_musers.any? %>
<% @other_musers.each do |muser| %>	
	<%= form_for(current_muser.active_subscribes.build) do |f| %>	
	<p> <%= link_to muser.name, muser %>   </p>
  	<div><%= hidden_field_tag :followed_id, muser.id %></div>
  	<%= f.submit "Follow", class: "btn btn-primary" %>
	<% end %>
<%end%>
<% else %>
<h2> No Musers left to subscribe </h2>
<% end %>