<% provide(:title, 'Messaging') %>

<h1>Conversation with <%= @receiver_muser.name %></h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>Messages</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-2" id="message-form" style="display:none;"></div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2" id="messages">
  	<!--<table class="table table-striped" border="0">-->
  			<%= render @messages %>
  	<!--</table>-->
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <%= link_to 'New Message', new_message_path(id: @receiver_id), remote: true, :class => 'btn btn-default' %>
  </div>
</div>

<div id="message-form" style="display:none;"></div>