
<h1> your file </h1>

<h3>Comment: <%= @picture.comment %></h3>
<h3>Content Type: <%= @picture.content_type %></h3>
<img src="<%= url_for(:action => 'picture', :id => @picture.id) %>"/>
<img src="http://localhost:3000/picture/"<%= @picture.id %>/>