<% if @muser.errors.any? %>

  <div class="alert alert-danger">
    The form contains <%= pluralize(@muser.errors.count, "error") %>:
  </div>

  <ul>
    <% @muser.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>

<% end %>
