<% @muser ||= current_muser %>
<div class="field">
  <a href="<%= following_muser_path(@muser) %>">
    <b><%= @muser.following.count %></b> following
  </a>
</div>
<div class="field">
  <a href="<%= followers_muser_path(@muser) %>">
    <b><%= @muser.followers.count %></b> followers
  </a>
</div>